<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="../style/about.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat: 400,700; Roboto:400,700" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
		ScrollReveal({ duration: 1000 })
	</script>
</head>
<body>

        <nav>
            <div class="logo-header hide-desktop show-mobile"><img src="../imgs/logo3.png"></div>
            <div class="hamburger-bar hide-desktop show-mobile">
                <i class="fas fa-bars fa-4x"></i>
              </div>
        
                        <ul class="nav-links">
                            <li class="navbar-close hide-desktop show-mobile" id="exit">
                                <i class="fas fa-times fa-3x"></i> 
                            </li>
                            <li class="grow"><a href="../index.html">Home</a></li>   
                            <li class="grow"><a href="#about">About</a></li>
                            <li class="grow"><a href="services.html">Services</a></li>
                            <li class="grow"><a href="team.html">Team</a></li>
                            <li class="grow"><a href="app.html">App</a></li>
        
                        </ul>
                    </nav>   

        <div class="about-front-container">
            <div>
                    <h3 class="about-front-header1">What is our Blockchain?</h3>

            </div>
        
        <div class="about-front-wrapper">

            <div class="about-front-image">
                <img src="../imgs/about-blockchain.png" class="blockchain-front" alt="">
            </div>

            <div class="about-front-text">


                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam?<br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam?Nulla hic placeat exercitationem aspernatur debitis? Expedita praesentium, magnam officia temporibus autem sint facilis nulla quaerat ducimus, porro alias incidunt dolore deleniti dicta dignissimos dolor aliquam corrupti quam ratione nam veniam odio molestiae necessitatibus! </p>
                    </div>
                    <div class="about-front-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam?<br><br> Nulla hic placeat exercitationem aspernatur debitis? Expedita praesentium, magnam officia temporibus autem sint facilis nulla quaerat ducimus, porro alias incidunt dolore deleniti dicta dignissimos dolor aliquam corrupti quam ratione nam veniam odio molestiae necessitatibus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam?</p>
                </div>
            </div>
        </div>    
        
        <div class="mission-about">
            <div class="mission-heading">            
                <h3>Our Mission</h3>
            </div>
            <div class="mission-about-wrapper">
                <div class="mission-about-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam? Nulla hic placeat exercitationem aspernatur debitis? Expedita praesentium, magnam officia temporibus autem sint facilis nulla quaerat ducimus, porro alias incidunt dolore deleniti dicta dignissimos dolor aliquam corrupti quam ratione nam veniam odio molestiae necessitatibus veritatis! 

                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam? Nulla hic placeat exercitationem aspernatur debitis? Expedita praesentium, magnam officia temporibus autem sint facilis nulla quaerat ducimus, porro alias incidunt dolore deleniti dicta dignissimos dolor aliquam corrupti quam ratione nam veniam odio molestiae necessitatibus veritatis! 
                        </p>
                    </div>
                    <div class="mission-about-text">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur rem earum eaque voluptas. Provident officiis tempora saepe accusamus consectetur iusto, hic vitae magni! Fugiat iure asperiores quos, culpa ab odit aliquam expedita corrupti suscipit voluptate magni necessitatibus omnis placeat quas quam voluptatum at, impedit dolorum temporibus rerum adipisci nisi autem. Earum et sunt culpa mollitia eum doloribus vitae recusandae maiores modi ullam quae id eveniet voluptate veniam magnam sint harum natus.

                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, repudiandae. Doloribus tempore esse natus vitae dicta velit, est praesentium et, assumenda distinctio omnis doloremque ipsa consectetur, quaerat dolores ipsam? Nulla hic placeat exercitationem aspernatur debitis? Expedita praesentium, magnam officia temporibus autem sint facilis nulla quaerat ducimus, porro alias incidunt dolore deleniti dicta dignissimos dolor aliquam corrupti quam ratione nam veniam odio molestiae necessitatibus veritatis! 
                        </p>
                </div>
                <div class="mission-about-image">
                </div>
                </div>
            </div>
        </div>

        <div class="usecases-container">
            <h3>Use Cases</h3>

            <div class="usecases-wrapper">

                <div class="usecases-nested grow">
                <div class="usecases-img1 usecasepic"></div>
                <div class="usecases-nested-body">
                <div class="usecases-nested-header">
                    <h4>Logistics</h4>
                </div>
                <div class="usecases-nested-text">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, laborum?</p>
                </div>
            </div>
            </div>

            <div class="usecases-nested grow">
                    <div class="usecases-img2 usecasepic"></div>
                    <div class="usecases-nested-body">
                    <div class="usecases-nested-header">
                        <h4>Fintech</h4>
                    </div>
                    <div class="usecases-nested-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, laudantium!.</p>
                    </div>
                </div>
                </div>  
                
                <div class="usecases-nested grow">
                        <div class="usecases-img3 usecasepic"></div>
                        <div class="usecases-nested-body">
                        <div class="usecases-nested-header">
                            <h4>Real Estate</h4>
                        </div>
                        <div class="usecases-nested-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, pariatur?

                            </p>
                        </div>
                    </div>
                    </div>   
                    
                    <div class="usecases-nested grow">
                            <div class="usecases-img4 usecasepic"></div>
                            <div class="usecases-nested-body">
                            <div class="usecases-nested-header">
                                <h4>Healthcare</h4>
                            </div>
                            <div class="usecases-nested-text">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, deserunt.</p>
                            </div>
                        </div>
                        </div>  
                        
                        <div class="usecases-nested grow">
                                <div class="usecases-img5 usecasepic"></div>
                                <div class="usecases-nested-body">
                                <div class="usecases-nested-header">
                                    <h4>Digital Identity</h4>
                                </div>
                                <div class="usecases-nested-text">
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, deserunt.</p>
                                </div>
                            </div>
                            </div>


                            <div class="usecases-nested grow">
                                    <div class="usecases-img6 usecasepic grow"></div>
                                    <div class="usecases-nested-body">
                                    <div class="usecases-nested-header">
                                        <h4>Food Safety</h4>
                                    </div>
                                    <div class="usecases-nested-text">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, perferendis.</p>
                                    </div>
                                </div>
                                </div>

            </div>
        </div>


        <div class="roadmap-container">
            <div class="roadmap-header">
                <h2>Roadmap 2019-2020</h2>
                <div class="roadmap-wrapper">
                    <div class="roadmap-icons">
                            <img src="../imgs/network-wired-solid.png" class="roadmap-icon grow" alt="">
                            <img src="../imgs/mobile-alt-solid.png" class="roadmap-icon-mobile grow" alt="">
                            <img src="../imgs/code-branch-solid.png" class="roadmap-icon-code grow" alt="">
                            <img src="../imgs/wallet-solid.png" class="roadmap-icon-code grow" alt="">

                    </div>
                    <div class="roadmap">
                        <img src="../imgs/roadmap-img.png">
                        
                    </div>

                </div>
            </div>
        </div>

        <div class="ico-container">
            <h2 class="ico-header">Ico</h2>
            <div class="ico-wrapper1">
                <div><img src="../imgs/icograph1.png" alt=""></div>
                <div><img src="../imgs/icograph2.png" alt=""></div>
                <div><img src="../imgs/icograph3.png" alt=""></div>

            </div>
            <div class="ico-wrapper2">
                <div><img src="../imgs/icograph4.png" alt=""></div>
                <div><img src="../imgs/icograph5.png" alt=""></div>

            </div>

            <div class="ico2-wrapper">
            
                <div class="ico-wrapper3">
                <div><h3>Token Distribution</h3></div>
                <div><img src="../imgs/icograph6.png" alt=""></div>
            </div>
            
            <div class="ico-wrapper4">
            <div class="ico-wrapper-box1"><h3>Token Use</h3></div>
            <div class="ico-wrapper-box2">

                    <div><img src="../imgs/money-bill-wave-solid.png" class="ico-wrapper-box2-icons grow" alt=""><p class="ico-icon-text">Payment</p></div>
                    <div><img src="../imgs/code-branch-solid2.png" class="ico-wrapper-box2-icons-mobile grow" alt=""><p class="ico-icon-text">Develop</p></div>
                    <div><img src="../imgs/fingerprint-solid.png" class="ico-wrapper-box2-icons grow" alt=""><p class="ico-icon-text">Identify</p></div>
                    <div><img src="../imgs/mobile-alt-solid2.png" class="ico-wrapper-box2-icons-mobile grow" alt=""><p class="ico-icon-text">Connect</p></div>

            </div>
            <div class="ico-wrapper-box3">

                    <div><img src="../imgs/network.png" class="ico-wrapper-box2-icons grow" alt=""><p class="ico-icon-text">Network</p></div>
                    <div><img src="../imgs/cloud.png" class="ico-wrapper-box2-icons grow" alt=""><p class="ico-icon-text">Cloud</p></div>
                    <div><img src="../imgs/smartcontract.png" class="ico-wrapper-box2-icons grow" alt=""><p class="ico-icon-text">Smart Contracts</p></div>
                    <div><img src="../imgs/cube.png" class="ico-wrapper-box2-icons grow" alt=""><p class="ico-icon-text">Consensus</p></div>

            </div>
        </div>

        </div>


        </div>
        <footer class="footer">
            <div class="footer-wrapper">
                <div class="logo-footer-header">
                <div class="logo-footer"><img src="../imgs/logo3.png"><h4> SOLIDIFY</h4></div>
                <p>All Rights Reserved</p>
            </div>
                <div class="social-media"><h5>FOLLOW US</h5>
                        <a href="#"><i class="fab fa-facebook-square grow fa-2x">  </i></a>
                        <a href="#"><i class="fab fa-linkedin-in grow fa-2x">  </i></a>
                        <a href="#"><i class="fab fa-twitter grow fa-2x">  </i></a>
                </div>
                <div class="back-to-portfolio-link grow"><a href="../../index.html">Back to portfolio page</a></div>
               
    
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        
        <script src="../js/main.js">
            
           
           
        </script>
        
        
        </body>
        </html>