<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
    <link rel="stylesheet" href="../style/app.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat: 400,700; Roboto:400,700" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
		ScrollReveal({ duration: 1000 })
	</script>
</head>
<body>


<div class="scroll-container">
    <nav>
        <div class="logo-header hide-desktop show-mobile"><a href="../index.html"><img src="../imgs/logo3.png" alt="logo"></a></div>        
        <div class="hamburger-bar hide-desktop show-mobile">
            <i class="fas fa-bars fa-4x"></i>
          </div>

                <ul class="nav-links">
                    <li class="navbar-close hide-desktop show-mobile" id="exit">
                        <i class="fas fa-times fa-3x"></i> 
                    </li>
                    <li class="grow"><a href="../index.html">Home</a></li>   
                    <li class="grow"><a href="about.html">About</a></li>
                    <li class="grow"><a href="services.html">Services</a></li>
                    <li class="grow"><a href="team.html">Team</a></li>
                    <li class="grow"><a href="#app">App</a></li>

                </ul>
            </nav> 

    
            <div class="front-app-container">
                <div class="front-app-wrapper">
                    <div><img src="../imgs/app1.png" class="app1" alt=""></div>
                    <div><img src="../imgs/app2.png" class="app2" alt=""></div>
                    <div><img src="../imgs/app3.png" class="app3" alt=""></div>

                </div>
            </div>   
            <div class="description-app-container">
                <div class="description-app-wrapper1">
                    <div class="icons-app-box1">
                        <img src="../imgs/fingerprint-solid.png" class ="app-icon" alt="">
                        <img src="../imgs/forward1.png" class="arrow-icon" alt="">
                        <img src="../imgs/mobile-alt-solid2.png" class="app-icon-mobile" alt="">
                        <img src="../imgs/forward2.png" class="arrow-icon" alt="">
                    </div>
                    <div class="wallet-app-text1">
                        <h3>Our Wallet App</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea facere praesentium quod! Dolores accusamus commodi illum excepturi at delectus vel eum, veniam modi asperiores, vitae nesciunt eaque consequuntur, dolor culpa quis impedit et in vero? Aliquid commodi, facere illum quas rerum quos placeat quia adipisci soluta fuga sequi! Dolor tenetur nesciunt autem voluptates ducimus nobis corporis eaque quaerat, qui nihil, fuga est commodi iusto obcaecati, provident doloribus aspernatur. Iure iste voluptatum adipisci harum iusto consequuntur placeat soluta molestiae facilis? Autem.<br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas omnis quo qui hic, debitis tenetur ducimus provident ea quam commodi, laudantium esse excepturi, mollitia quisquam? Quis ipsam deleniti harum similique consectetur. Dolor illo dignissimos non temporibus deleniti minima, ratione culpa consequuntur exercitationem mollitia pariatur!</p>
                    </div>
                </div>
            </div>

                <div class="description-app-container2">
                <div class="description-app-wrapper2">
                    <div class="wallet-app-text2">
                        <h3>Our Wallet App</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea facere praesentium quod! Dolores accusamus commodi illum excepturi at delectus vel eum, veniam modi asperiores, vitae nesciunt eaque consequuntur, dolor culpa quis impedit et in vero? Aliquid commodi, facere illum quas rerum quos placeat quia adipisci soluta fuga sequi! Dolor tenetur nesciunt autem voluptates ducimus nobis corporis eaque quaerat, qui nihil, fuga est commodi iusto obcaecati, provident doloribus aspernatur. Iure iste voluptatum adipisci harum iusto consequuntur placeat soluta molestiae facilis? Autem.<br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas omnis quo qui hic, debitis tenetur ducimus provident ea quam commodi, laudantium esse excepturi, mollitia quisquam? Quis ipsam deleniti harum similique consectetur. Dolor illo dignissimos non temporibus deleniti minima, ratione culpa consequuntur exercitationem mollitia pariatur!</p>
                    </div>
                    <div class="icons-app-box1">
                        <img src="../imgs/network-wired-solid.png" class ="app-icon" alt="">
                        <img src="../imgs/forward3.png" class="arrow-icon" alt="">
                        <img src="../imgs/bitcoin-brands.png" class="app-icon-mobile" alt="">
                        <img src="../imgs/forward4.png" class="arrow-icon" alt="">
                </div>
            </div>
        </div>
        <div class="app2-container">
                <div class="app2-wrapper">
                        <div><img src="../imgs/app4.png" class="app4 grow" alt=""></div>
                        <div><img src="../imgs/app5.png" class="app5 grow" alt=""></div>
                        <div><img src="../imgs/app6.png" class="app6 grow" alt=""></div>
    
                    </div>

        </div>

        <div class="connect-container">
        <div class="blue-white-container">

            <div class="bluewrapper">
                    <div class="blue-nested blue-nested1">
                        <div class="blue-nested-image-container">
                                <img src="../imgs/users.png" class="wallet-app-users" alt="">
                        </div>
                        <div class="blue-nested-text-container">
                                <h3>P2P Transfers</h3>

                            <p class="blue-nested-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum pariatur quasi, unde libero laboriosam reprehenderit doloremque ex dolorem explicabo itaque eligendi, aut alias similique, fugit ullam possimus nobis nesciunt facilis!</p>
                        </div>
                    </div>
                    <div class="blue-nested blue-nested2">
                        <div class="blue-nested-text-container">
                                <h3>Developer Mode</h3>

                            <p class="blue-nested-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt culpa excepturi nihil temporibus sapiente eos ea praesentium corrupti pariatur voluptatem, illum architecto incidunt nulla eius, facere maxime? Quam, dignissimos a?</p>
                        </div>
                            <div class="blue-nested-image-container">
                                <img src="../imgs/code-branch-solid.png" class="wallet-app-code"alt="">
                            </div>
                    </div>
                </div>

            <div class="connect-whitewrapper">
                <h3 class="connect-header">Connect Our App With</h3>
                <div>
                    <div class="dotted-line">
                    </div>
                        <ul>
                       <li><a href="https://www.binance.com/en" target="blank"><img src="../imgs/binance.png" alt="binance exchange"></a></li>
                       <li><a href="https://www.huobi.com/en-us/" target="blank"></a><img src="../imgs/huobi.png" alt="huobi exchange"></a></li>
                       <li><a href="https://global.bittrex.com/" target="blank"></a><img src="../imgs/bittrex.png" alt="bittrex exchange"></a></li>
                       <li><a href="https://www.myetherwallet.com/" target="blank"></a><img src="../imgs/myetherwallet.png" alt="myetherwallet"></a></li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="generate-walletID__container">
                <div class="generate-walletID__wrapper">
                <h2 class="generate-walletID__header">Generate Here Your Wallet App ID</h2>
                <p class="wallet-id__paragraph">Wallet ID: <span class="user-id" id="wallet-id"></span></p>
                <p class="success-paragraph"><span class="success"></span></p>
                <button class="btn-generate-id">Generate Wallet ID</button>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-wrapper">
                <div class="logo-footer-header">
                <div class="logo-footer"><img src="../imgs/logo3.png"><h4> SOLIDIFY</h4></div>
                <p>All Rights Reserved</p>
            </div>
                <div class="social-media"><h5>FOLLOW US</h5>
                        <a href="#"><i class="fab fa-facebook-square grow fa-2x">  </i></a>
                        <a href="#"><i class="fab fa-linkedin-in grow fa-2x">  </i></a>
                        <a href="#"><i class="fab fa-twitter grow fa-2x">  </i></a>
                </div>
                <div class="back-to-portfolio-link grow"><a href="../../index.html">Back to portfolio page</a></div>
               
    
            </div>
        </footer>
    </div>

               
        
            <script src="../js/app.js"></script>
            
            </body>
            </html>