<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
    <link rel="stylesheet" href="../style/services.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat: 400,700; Roboto:400,700" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
		ScrollReveal({ duration: 1000 })
	</script>
</head>
<body>
        <nav>
            <div class="logo-header hide-desktop show-mobile"><img src="../imgs/logo3.png"></div>

                <div class="hamburger-bar hide-desktop show-mobile">
                    <i class="fas fa-bars fa-4x"></i>
                    </div>
        
                        <ul class="nav-links">
                            <li class="navbar-close hide-desktop show-mobile" id="exit">
                                <i class="fas fa-times fa-3x"></i> 
                            </li>
                            <li class="grow"><a href="../index.html">Home</a></li>   
                            <li class="grow"><a href="about.html">About</a></li>
                            <li class="grow"><a href="#services">Services</a></li>
                            <li class="grow"><a href="team.html">Team</a></li>
                            <li class="grow"><a href="app.html">App</a></li>
        
                        </ul>
                    </nav>   

                    <div class="services1-container">
                        <div class="services-wrapper">

                            <div class="service-card service-card-1">
                                <div class="services-header">
                                    <img src="../imgs/linode-brands.png" alt="">
                                    <h4>Consensus</h4>
                                </div>
                                <div class="service-text">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo voluptas mollitia excepturi animi facere exercitationem suscipit modi perspiciatis expedita magni quisquam adipisci consectetur voluptatem repudiandae facilis nobis, quas eveniet tempora temporibus aspernatur eos doloribus provident quae pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque rerum autem alias minus amet asperiores nesciunt perferendis libero et similique, laborum doloremque, dicta assumenda corrupti quia illum accusamus. Laboriosam, voluptatum. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae unde itaque in inventore ipsum quod incidunt tempore dolorum optio blanditiis!</p>
                                </div>
                            </div>
                            <div class="service-card service-card-2">
                                    <div class="services-header">
                                        <img src="../imgs/wallet-solid.png" alt="">
                                        <h4>Wallet App</h4>
                                    </div>
                                    <div class="service-text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo voluptas mollitia excepturi animi facere exercitationem suscipit modi perspiciatis expedita magni quisquam adipisci consectetur voluptatem repudiandae facilis nobis, quas eveniet tempora temporibus aspernatur eos doloribus provident quae pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque rerum autem alias minus amet asperiores nesciunt perferendis libero et similique, laborum doloremque, dicta assumenda corrupti quia illum accusamus. Laboriosam, voluptatum. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae unde itaque in inventore ipsum quod incidunt tempore dolorum optio blanditiis!</p>
                                    </div>
                                </div>

                        </div>

                            <div class="services-wrapper">
    
                                <div class="service-card service-card-3">
                                    <div class="services-header">
                                        <img src="../imgs/chart-pie-solid.png" alt="">
                                        <h4>Financials</h4>
                                    </div>
                                    <div class="service-text">
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo voluptas mollitia excepturi animi facere exercitationem suscipit modi perspiciatis expedita magni quisquam adipisci consectetur voluptatem repudiandae facilis nobis, quas eveniet tempora temporibus aspernatur eos doloribus provident quae pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque rerum autem alias minus amet asperiores nesciunt perferendis libero et similique, laborum doloremque, dicta assumenda corrupti quia illum accusamus. Laboriosam, voluptatum. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae unde itaque in inventore ipsum quod incidunt tempore dolorum optio blanditiis!</p>
                                    </div>
                                </div>
                                <div class="service-card service-card-4">
                                        <div class="services-header">
                                            <img src="../imgs/user-solid.png" alt="">
                                            <h4>Users</h4>
                                        </div>
                                        <div class="service-text">
                                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo voluptas mollitia excepturi animi facere exercitationem suscipit modi perspiciatis expedita magni quisquam adipisci consectetur voluptatem repudiandae facilis nobis, quas eveniet tempora temporibus aspernatur eos doloribus provident quae pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque rerum autem alias minus amet asperiores nesciunt perferendis libero et similique, laborum doloremque, dicta assumenda corrupti quia illum accusamus. Laboriosam, voluptatum. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae unde itaque in inventore ipsum quod incidunt tempore dolorum optio blanditiis!</p>
                                        </div>
                                    </div>
    
                            </div>
                        </div>

                    <div class="video-container">
                                <h4>Check Out Our Video</h4>
                                <div class="video-wrapper">

                                <iframe class="blockchain-video" width="700" height="415"
                                src="https://youtube.com/embed/IIHf8lmwlzE" attr="SameSite">
                                </iframe>
                        </div>
                    </div>

                    <div class="partners-container">
                        <h3>Our Partners</h3>
                        <div class="partners-wrapper">
                            <div><img src="../imgs/partner1.png" class="grow" id="partnerImg"><h5 id="partnerName"></h5></div>
                            <div><img src="../imgs/partner2.png" class="grow"><h5>Waves</h5></div>
                            <div><img src="../imgs/partner3.png" class="grow"><h5>Ontology</h5></div>
                            <div><img src="../imgs/partner4.png" class="grow"><h5>Ark</h5></div>
                            <div><img src="../imgs/partner5.png" class="grow"><h5>Pundi X</h5></div>

                        </div>
                    </div>

                    <div class="clients-rec-container">
                        <h3>What Our Clients are Saying</h3>

                        <div class="clients-rec-wrapper">
                            <div><img src="../imgs/david.png" class="img-rec-wrapper"></div>
                            <div class="clients-rec-nested">
                                <div><h6>David James</h6></div>
                                <div><p>CEO of TechMesh</p></div>
                                <div><p>Mobile : 871.567.4877</p></div>
                                <div class="social-rec-nested">
                                    <ul>
                                        <li><img src="../imgs/instagram.png" class="grow"></li>
                                        <li><img src="../imgs/linkedin-blue.png" class="grow"></li>
                                        <li><img src="../imgs/twitter-blue.png" class="grow"></li>
                                        <li><img src="../imgs/facebook-blue.png" class="grow"></li>

                                    </ul>
                                </div>
                            </div>
                            <div>
                        <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consectetur in ducimus placeat, dicta quod. Molestias et officiis asperiores, amet ab veniam. Voluptates, repellat enim? Sit explicabo et incidunt cumque! Accusantium expedita reiciendis fuga. Nostrum repellat, illum accusamus eligendi quisquam ullam blanditiis quibusdam, ipsa cum sunt commodi quidem voluptas laboriosam. Dolorem illo numquam sit itaque recusandae suscipit quam illum placeat rerum vero molestias inventore, commodi enim repellat id natus. Blanditiis!"</p>
                        </div>
                    </div>

                    <div class="clients-rec-wrapper">
                        <div><img src="../imgs/scott.png" class="img-rec-wrapper"></div>
                        <div class="clients-rec-nested">
                            <div><h6>Scott Martin</h6></div>
                            <div><p>CEO of Melvill Capital</p></div>
                            <div><p>Mobile : 871.567.4877</p></div>
                            <div class="social-rec-nested">
                                <ul>
                                    <li><img src="../imgs/instagram.png" class="grow"></li>
                                    <li><img src="../imgs/linkedin-blue.png" class="grow"></li>
                                    <li><img src="../imgs/twitter-blue.png" class="grow"></li>
                                    <li><img src="../imgs/facebook-blue.png" class="grow"></li>

                                </ul>
                            </div>
                        </div>
                        <div>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consectetur in ducimus placeat, dicta quod. Molestias et officiis asperiores, amet ab veniam. Voluptates, repellat enim? Sit explicabo et incidunt cumque! Accusantium expedita reiciendis fuga. Nostrum repellat, illum accusamus eligendi quisquam ullam blanditiis quibusdam, ipsa cum sunt commodi quidem voluptas laboriosam. Dolorem illo numquam sit itaque recusandae suscipit quam illum placeat rerum vero molestias inventore, commodi enim repellat id natus. Blanditiis!"</p>
                    </div>
                </div>

                <div class="clients-rec-wrapper">
                    <div><img src="../imgs/melissa.png" class="img-rec-wrapper"></div>
                    <div class="clients-rec-nested">
                        <div><h6>Melissa Bane</h6></div>
                        <div><p>CEO of Colt Solutions</p></div>
                        <div><p>Mobile : 871.567.4877</p></div>
                        <div class="social-rec-nested">
                            <ul>
                                <li><img src="../imgs/instagram.png" class="grow"></li>
                                <li><img src="../imgs/linkedin-blue.png" class="grow"></li>
                                <li><img src="../imgs/twitter-blue.png" class="grow"></li>
                                <li><img src="../imgs/facebook-blue.png" class="grow"></li>

                            </ul>
                        </div>
                    </div>
                    <div>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consectetur in ducimus placeat, dicta quod. Molestias et officiis asperiores, amet ab veniam. Voluptates, repellat enim? Sit explicabo et incidunt cumque! Accusantium expedita reiciendis fuga. Nostrum repellat, illum accusamus eligendi quisquam ullam blanditiis quibusdam, ipsa cum sunt commodi quidem voluptas laboriosam. Dolorem illo numquam sit itaque recusandae suscipit quam illum placeat rerum vero molestias inventore, commodi enim repellat id natus. Blanditiis!"</p>
                </div>
            </div>

            <div class="clients-rec-wrapper">
                <div><img src="../imgs/katia.png" class="img-rec-wrapper"></div>
                <div class="clients-rec-nested">
                    <div><h6>Katia Holmes</h6></div>
                    <div><p>CEO of Kiryll</p></div>
                    <div><p>Mobile : 871.567.4877</p></div>
                    <div class="social-rec-nested">
                        <ul>
                            <li><img src="../imgs/instagram.png" class="grow"></li>
                            <li><img src="../imgs/linkedin-blue.png" class="grow"></li>
                            <li><img src="../imgs/twitter-blue.png" class="grow"></li>
                            <li><img src="../imgs/facebook-blue.png" class="grow"></li>

                        </ul>
                    </div>
                </div>
                <div>
            <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt consectetur in ducimus placeat, dicta quod. Molestias et officiis asperiores, amet ab veniam. Voluptates, repellat enim? Sit explicabo et incidunt cumque! Accusantium expedita reiciendis fuga. Nostrum repellat, illum accusamus eligendi quisquam ullam blanditiis quibusdam, ipsa cum sunt commodi quidem voluptas laboriosam. Dolorem illo numquam sit itaque recusandae suscipit quam illum placeat rerum vero molestias inventore, commodi enim repellat id natus. Blanditiis!"</p>
            </div>
        </div>
    </div>

        <div class="become-partner-client-container">
            <div class="partner-client-wrapper">
                <div class="nested-client">
                    <div>
                            <h4>Want to Become a Client?</h4>

                    </div>
                    <div class="btn-partner-client-box">
                        <button class="btn-partner-client">Contact Us</button>
                    </div>
                </div>

                <div class="nested-partner">
                    <div>
                            <h4>Want to Become a Partner?</h4>

                    </div>
                    <div class="btn-partner-client-box ">
                            <button class="btn-partner-client">Contact Us</button>
                        </div>

                </div>


            </div>

        </div>

        <footer class="footer">
                <div class="footer-wrapper">
                    <div class="logo-footer-header">
                    <div class="logo-footer"><img src="../imgs/logo3.png"><h4> SOLIDIFY</h4></div>
                    <p>All Rights Reserved</p>
                </div>
                    <div class="social-media"><h5>FOLLOW US</h5>
                            <a href="#"><i class="fab fa-facebook-square grow fa-2x">  </i></a>
                            <a href="#"><i class="fab fa-linkedin-in grow fa-2x">  </i></a>
                            <a href="#"><i class="fab fa-twitter grow fa-2x">  </i></a>
                    </div>
                    <div class="back-to-portfolio-link grow"><a href="../../index.html">Back to portfolio page</a></div>
                   
        
                </div>
            </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        
        <script src="main.js">        </script>


           
           
        </script>
        
        
        </body>
        </html>