<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team</title>
    <link rel="stylesheet" href="../style/team.css">
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat: 400,700; Roboto:400,700" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
		ScrollReveal({ duration: 1000 })
	</script>
</head>
<body>


<div class="scroll-container">
    <nav>
        <div class="logo-header hide-desktop show-mobile"><img src="../imgs/logo3.png"></div>

        <div class="hamburger-bar hide-desktop show-mobile">
            <i class="fas fa-bars fa-4x"></i>
          </div>

                <ul class="nav-links">
                    <li class="navbar-close hide-desktop show-mobile" id="exit">
                        <i class="fas fa-times fa-3x"></i> 
                    </li>
                    <li class="grow"><a href="../index.html">Home</a></li>   
                    <li class="grow"><a href="about.html">About</a></li>
                    <li class="grow"><a href="services.html">Services</a></li>
                    <li class="grow"><a href="#team">Team</a></li>
                    <li class="grow"><a href="app.html">App</a></li>

                </ul>
            </nav> 


            <div class="team-members-container">
                <div class="team-rectangles-wrapper">

                    <div class="team-member team-member1">
                        <img src="../imgs/cristina.png" class="team-member-big" alt="">
                        <div>
                            <h3>Cristina Vasquez</h3>
                            <h5>Legal</h5>
                        </div>
                        <div class="buttons-container">
                            <button class="btn-team grow">Call</button>
                            <button class="btn-team grow">Email</button>
                            <button class="btn-team grow">Contact</button>
                        </div>
                        <div>
                            <h5>Team Mates</h5>
                            <div class="team-mates-container">
                            <img src="../imgs/nickthumb.png" class="grow2" alt="">
                            <img src="../imgs/johnthumb.png" class="grow2" alt="">
                            <img src="../imgs/mikethumb.png" class="grow2" alt="">
                            <img src="../imgs/victoriathumb.png" class="grow2" alt="">
                            <img src="../imgs/andrewthumb.png" class="grow2" alt="">
                            <img src="../imgs/plus2.png" class="grow2" alt="">

                        </div>

                        <h6 class="recent-headline">Recent Projects</h6>
                        <div class="recent-projects-grid">
                            <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                            <div class="recent1"><img src="../imgs/iso3-small.jpg" alt=""></div>
                            <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                            <div class="recent2"><img src="../imgs/Group 261@2x.png" alt=""></div>

                        </div>

                        <!-- button for modal image -->
                        <button id="modalBtn" class="button modalBtn">View Bio</button>
                        </div>

                        <!-- Modal image -->
                        <div id="modalTeam1" class="modal">
                            <div class="modal-content-team content-team-1">
                                <span class="closeBtn">&times;</span>
                                <div class="modal-content-teamWrapper">

                                <div>
                                <img src="../imgs/team5.jpg">
                            </div>
                            <div>
                                <h2>Cristina Vasquez</h2>
                                <h3>Legal</h3>

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero optio ratione tempore officiis a amet magni fugit unde eveniet, quo ex totam ipsam sunt voluptatum quia. Hic quia consequuntur officiis, maxime inventore dolor cupiditate, quos omnis quasi iusto explicabo aspernatur fuga cumque? Deserunt ducimus veniam eius unde, minus tempora ea culpa dolore odit dolor, amet, sunt perspiciatis nisi sequi dolorem?<br><br>
                                
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat, quaerat iure, quasi quos culpa similique repellat placeat blanditiis doloremque nihil numquam veritatis pariatur. Quibusdam at ut nemo vitae hic officia beatae facilis earum ad dolorum, quo obcaecati sint ullam culpa. Iure odio iste corporis hic voluptate laudantium enim voluptates.<br><br>

                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur perferendis vitae quo possimus consequuntur maiores error asperiores quos molestiae!
                            </p>
                            <ul class="social-team-icons">
                                <li><i class="fab fa-linkedin fa-2x"></i></li>
                                <li><i class="fab fa-facebook-square fa-2x"></i></li>
                                <li><i class="fab fa-twitter fa-2x"></i></li>
                                <li><i class="fab fa-medium fa-2x"></i></li>
                            </ul>
                            
                            <!-- <div class="buttons">
                                <button id="prev"><i class="fas fa-arrow-left"></i></button>
                                <button id="next"><i class="fas fa-arrow-right"></i></button>
                            </div> -->

                            </div>
                            </div> 
                            </div>
                        </div>
                    </div>

                            
                        
                  <div class="team-member team-member2">
                            <img src="../imgs/victoria.png" class="team-member-big" alt="">
                            <div>
                                <h3>Victoria Watson</h3>
                                <h5>Marketing</h5>
                            </div>
                            <div class="buttons-container">
                                <button class="btn-team grow">Call</button>
                                <button class="btn-team grow">Email</button>
                                <button class="btn-team grow">Contact</button>
                            </div>
                            <div>
                                <h5>Team Mates</h5>
                                <div class="team-mates-container">
                                <img src="../imgs/nickthumb.png" class="grow2"  alt="">
                                <img src="../imgs/johnthumb.png" class="grow2" alt="">
                                <img src="../imgs/mikethumb.png" class="grow2" alt="">
                                <img src="../imgs/cristinathumb.png" class="grow2" alt="">
                                <img src="../imgs/andrewthumb.png" class="grow2" alt="">
                                <img src="../imgs/plus2.png" class="grow2" alt="">
    
                            </div>
    
                            <h6 class="recent-headline">Recent Projects</h6>
                            <div class="recent-projects-grid">
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                                <div class="recent1"><img src="../imgs/iso3-small.jpg" alt=""></div>
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                                <div class="recent2"><img src="../imgs/Group 261@2x.png" alt=""></div>
    
                            </div>
                            <!-- button for modal image -->
                        <button id="modalBtn2" class="button modalBtn">View Bio</button>
                    </div>

                <!-- Modal image -->
                <div id="modalTeam2" class="modal2">
                    <div class="modal-content-team content-team-2">
                        <span class="closeBtn2">&times;</span>
                        <div class="modal-content-teamWrapper">

                        <div>
                        <img src="../imgs/team4.jpg">
                    </div>
                    <div class="modal-right">
                        <h2>Victoria Watson</h2>
                        <h3>Marketing</h3>

                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero optio ratione tempore officiis a amet magni fugit unde eveniet, quo ex totam ipsam sunt voluptatum quia. Hic quia consequuntur officiis, maxime inventore dolor cupiditate, quos omnis quasi iusto explicabo aspernatur fuga cumque? Deserunt ducimus veniam eius unde, minus tempora ea culpa dolore odit dolor, amet, sunt perspiciatis nisi sequi dolorem?<br><br>
                        
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat, quaerat iure, quasi quos culpa similique repellat placeat blanditiis doloremque nihil numquam veritatis pariatur. Quibusdam at ut nemo vitae hic officia beatae facilis earum ad dolorum, quo obcaecati sint ullam culpa. Iure odio iste corporis hic voluptate laudantium enim voluptates.<br><br>

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur perferendis vitae quo possimus consequuntur maiores error asperiores quos molestiae!


                    </p>
                    <ul class="social-team-icons">
                            <li><i class="fab fa-linkedin fa-2x"></i></li>
                            <li><i class="fab fa-facebook-square fa-2x"></i></li>
                            <li><i class="fab fa-twitter fa-2x"></i></li>
                            <li><i class="fab fa-medium fa-2x"></i></li>
                        </ul>
                        
                

                    </div>
                    </div> 
                    </div>
                </div>
                </div>

                        <div class="team-member team-member3">
                            <img src="../imgs/nick.png" class="team-member-big" alt="">
                            <div>
                                <h3>Nick Doe</h3>
                                <h5>CEO & CTO</h5>
                            </div>
                            <div class="buttons-container">
                                <button class="btn-team grow">Call</button>
                                <button class="btn-team grow">Email</button>
                                <button class="btn-team grow">Contact</button>
                            </div>
                            <div>
                                <h5>Team Mates</h5>
                                <div class="team-mates-container">
                                <img src="../imgs/johnthumb.png" class="grow2" alt="">
                                <img src="../imgs/mikethumb.png" class="grow2" alt="">
                                <img src="../imgs/victoriathumb.png" class="grow2" alt="">
                                <img src="../imgs/cristinathumb.png" class="grow2" alt="">
                                <img src="../imgs/andrewthumb.png" class="grow2" alt="">
                                <img src="../imgs/plus2.png" class="grow2" alt="">
    
                            </div>
    
                            <h6 class="recent-headline">Recent Projects</h6>
                            <div class="recent-projects-grid">
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                                <div class="recent1"><img src="../imgs/iso3-small.jpg" alt=""></div>
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                                <div class="recent2"><img src="../imgs/Group 261@2x.png" alt=""></div>
    
                            </div>
                                 <!-- button for modal image -->
                        <button id="modalBtn3" class="button modalBtn">View Bio</button>
                    </div>
                    <!-- Modal image -->
                    <div id="modalTeam3" class="modal3">
                        <div class="modal-content-team content-team-3">
                            <span class="closeBtn3">&times;</span>
                            <div class="modal-content-teamWrapper">

                            <div>
                            <img src="../imgs/team1.jpg">
                        </div>
                        <div class="modal-right">
                            <h2>Nick Doe</h2>
                            <h3>Marketing</h3>

                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero optio ratione tempore officiis a amet magni fugit unde eveniet, quo ex totam ipsam sunt voluptatum quia. Hic quia consequuntur officiis, maxime inventore dolor cupiditate, quos omnis quasi iusto explicabo aspernatur fuga cumque? Deserunt ducimus veniam eius unde, minus tempora ea culpa dolore odit dolor, amet, sunt perspiciatis nisi sequi dolorem?<br><br>
                            
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat, quaerat iure, quasi quos culpa similique repellat placeat blanditiis doloremque nihil numquam veritatis pariatur. Quibusdam at ut nemo vitae hic officia beatae facilis earum ad dolorum, quo obcaecati sint ullam culpa. Iure odio iste corporis hic voluptate laudantium enim voluptates.<br><br>

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur perferendis vitae quo possimus consequuntur maiores error asperiores quos molestiae!


                        </p>
    
                            <ul class="social-team-icons">
                                    <li><i class="fab fa-linkedin fa-2x"></i></li>
                                    <li><i class="fab fa-facebook-square fa-2x"></i></li>
                                    <li><i class="fab fa-twitter fa-2x"></i></li>
                                    <li><i class="fab fa-medium fa-2x"></i></li>
                                </ul>

                            </div>
                            </div> 
                            </div>
                        </div>
                        </div>
        

                        <div class="team-member team-member4">
                            <img src="../imgs/john.png" class="team-member-big" alt="">
                            <div>
                                <h3>John Kean</h3>
                                <h5>Senior Blockchain Developer</h5>
                            </div>
                            <div class="buttons-container">
                                <button class="btn-team grow">Call</button>
                                <button class="btn-team grow">Email</button>
                                <button class="btn-team grow">Contact</button>
                            </div>
                            <div>
                                <h5>Team Mates</h5>
                                <div class="team-mates-container">
                                <img src="../imgs/nickthumb.png" class="grow2" alt="">
                                <img src="../imgs/mikethumb.png" class="grow2" alt="">
                                <img src="../imgs/victoriathumb.png" class="grow2" alt="">
                                <img src="../imgs/cristinathumb.png" class="grow2" alt="">
                                <img src="../imgs/andrewthumb.png" class="grow2" alt="">
                                <img src="../imgs/plus2.png" class="grow2" alt="">
    
                            </div>
    
                            <h6 class="recent-headline">Recent Projects</h6>
                            <div class="recent-projects-grid">
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                            <div class="recent1"><img src="../imgs/iso3-small.jpg" alt=""></div>
                            <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                            <div class="recent2"><img src="../imgs/Group 261@2x.png" alt=""></div>
    
                            </div>
                                 <!-- button for modal image -->
                        <button id="modalBtn4" class="button modalBtn">View Bio</button>
                    </div>
                        <!-- Modal image -->
                        <div id="modalTeam4" class="modal4">
                            <div class="modal-content-team content-team-4">
                                <span class="closeBtn4">&times;</span>
                                <div class="modal-content-teamWrapper">

                                <div>
                                <img src="../imgs/team2team.png">
                            </div>
                            <div class="modal-right">
                                <h2>John Keane</h2>
                                <h3>Senior Developer</h3>

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero optio ratione tempore officiis a amet magni fugit unde eveniet, quo ex totam ipsam sunt voluptatum quia. Hic quia consequuntur officiis, maxime inventore dolor cupiditate, quos omnis quasi iusto explicabo aspernatur fuga cumque? Deserunt ducimus veniam eius unde, minus tempora ea culpa dolore odit dolor, amet, sunt perspiciatis nisi sequi dolorem?<br><br>
                                
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat, quaerat iure, quasi quos culpa similique repellat placeat blanditiis doloremque nihil numquam veritatis pariatur. Quibusdam at ut nemo vitae hic officia beatae facilis earum ad dolorum, quo obcaecati sint ullam culpa. Iure odio iste corporis hic voluptate laudantium enim voluptates.<br><br>

                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur perferendis vitae quo possimus consequuntur maiores error asperiores quos molestiae!


                            </p>
                            
                            <ul class="social-team-icons">
                                    <li><i class="fab fa-linkedin fa-2x"></i></li>
                                    <li><i class="fab fa-facebook-square fa-2x"></i></li>
                                    <li><i class="fab fa-twitter fa-2x"></i></li>
                                    <li><i class="fab fa-medium fa-2x"></i></li>
                                </ul>

                            </div>
                            </div> 
                            </div>
                        </div>
                        </div>

                        <div class="team-member team-member5">
                            <img src="../imgs/mike.png" class="team-member-big" alt="">
                            <div>
                                <h3>Mike Patterson</h3>
                                <h5>Blockchain Architect</h5>
                            </div>
                            <div class="buttons-container">
                                <button class="btn-team grow">Call</button>
                                <button class="btn-team grow">Email</button>
                                <button class="btn-team grow">Contact</button>
                            </div>
                            <div>
                                <h5>Team Mates</h5>
                                <div class="team-mates-container">
                                <img src="../imgs/nickthumb.png" class="grow2" alt="">
                                <img src="../imgs/johnthumb.png" class="grow2" alt="">
                                <img src="../imgs/victoriathumb.png" class="grow2" alt="">
                                <img src="../imgs/cristinathumb.png" class="grow2" alt="">
                                <img src="../imgs/andrewthumb.png" class="grow2" alt="">
                                <img src="../imgs/plus2.png" class="grow2" alt="">
    
                            </div>
    
                            <h6 class="recent-headline">Recent Projects</h6>
                            <div class="recent-projects-grid">
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                                <div class="recent1"><img src="../imgs/iso3-small.jpg" alt=""></div>
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                                <div class="recent2"><img src="../imgs/Group 261@2x.png" alt=""></div>
    
                            </div>
                                 <!-- button for modal image -->
                        <button id="modalBtn5" class="button modalBtn">View Bio</button>
                    </div>
                    
                        <!-- Modal image -->
                        <div id="modalTeam5" class="modal5">
                            <div class="modal-content-team content-team-5">
                                <span class="closeBtn5">&times;</span>
                                <div class="modal-content-teamWrapper">

                                <div>
                                <img src="../imgs/team3team.png">
                            </div>
                            <div class="modal-right">
                                <h2>Mike Patterson</h2>
                                <h3>Blockchain Architect</h3>

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero optio ratione tempore officiis a amet magni fugit unde eveniet, quo ex totam ipsam sunt voluptatum quia. Hic quia consequuntur officiis, maxime inventore dolor cupiditate, quos omnis quasi iusto explicabo aspernatur fuga cumque? Deserunt ducimus veniam eius unde, minus tempora ea culpa dolore odit dolor, amet, sunt perspiciatis nisi sequi dolorem?<br><br>
                                
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat, quaerat iure, quasi quos culpa similique repellat placeat blanditiis doloremque nihil numquam veritatis pariatur. Quibusdam at ut nemo vitae hic officia beatae facilis earum ad dolorum, quo obcaecati sint ullam culpa. Iure odio iste corporis hic voluptate laudantium enim voluptates.<br><br>

                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur perferendis vitae quo possimus consequuntur maiores error asperiores quos molestiae!


                            </p>
                            
                            <ul class="social-team-icons">
                                    <li><i class="fab fa-linkedin fa-2x"></i></li>
                                    <li><i class="fab fa-facebook-square fa-2x"></i></li>
                                    <li><i class="fab fa-twitter fa-2x"></i></li>
                                    <li><i class="fab fa-medium fa-2x"></i></li>
                                </ul>

                            </div>
                            </div> 
                            </div>
                        </div>
                        
                        </div>
                        

                        <div class="team-member team-member6">
                            <img src="../imgs/andrew.png" class="team-member-big" alt="">
                            <div>
                                <h3>Andrew Grant</h3>
                                <h5>Financial Advisor</h5>
                            </div>
                            <div class="buttons-container">
                                <button class="btn-team grow">Call</button>
                                <button class="btn-team grow">Email</button>
                                <button class="btn-team grow">Contact</button>
                            </div>
                            <div>
                                <h5>Team Mates</h5>
                                <div class="team-mates-container">
                                <img src="../imgs/nickthumb.png" class="grow2" alt="">
                                <img src="../imgs/johnthumb.png" class="grow2"alt="">
                                <img src="../imgs/mikethumb.png" class="grow2"alt="">
                                <img src="../imgs/victoriathumb.png" class="grow2" alt="">
                                <img src="../imgs/cristinathumb.png" class="grow2" alt="">
                                <img src="../imgs/plus2.png" class="grow2" alt="">
    
                            </div>
    
                            <h6 class="recent-headline">Recent Projects</h6>
                            <div class="recent-projects-grid">
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                                <div class="recent1"><img src="../imgs/iso3-small.jpg" alt=""></div>
                                <div class="recent1"><img src="../imgs/iso1-small.jpg" alt=""></div>
                                <div class="recent2"><img src="../imgs/Group 261@2x.png" alt=""></div>
    
                            </div>
                              <!-- button for modal image -->
                        <button id="modalBtn6" class="button modalBtn">View Bio</button>
                    </div>
                    
                        <!-- Modal image -->
                        <div id="modalTeam6" class="modal6">
                            <div class="modal-content-team content-team-6">
                                <span class="closeBtn6">&times;</span>
                                <div class="modal-content-teamWrapper">

                                <div>
                                <img src="../imgs/team6.jpg">
                            </div>
                            <div class="modal-right">
                                <h2>Andrew Grant</h2>
                                <h3>Financial Advisor</h3>

                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero optio ratione tempore officiis a amet magni fugit unde eveniet, quo ex totam ipsam sunt voluptatum quia. Hic quia consequuntur officiis, maxime inventore dolor cupiditate, quos omnis quasi iusto explicabo aspernatur fuga cumque? Deserunt ducimus veniam eius unde, minus tempora ea culpa dolore odit dolor, amet, sunt perspiciatis nisi sequi dolorem?<br><br>
                                
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi fugiat, quaerat iure, quasi quos culpa similique repellat placeat blanditiis doloremque nihil numquam veritatis pariatur. Quibusdam at ut nemo vitae hic officia beatae facilis earum ad dolorum, quo obcaecati sint ullam culpa. Iure odio iste corporis hic voluptate laudantium enim voluptates.<br><br>

                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae aspernatur perferendis vitae quo possimus consequuntur maiores error asperiores quos molestiae!


                            </p>
                            <ul class="social-team-icons">
                                    <li><i class="fab fa-linkedin fa-2x"></i></li>
                                    <li><i class="fab fa-facebook-square fa-2x"></i></li>
                                    <li><i class="fab fa-twitter fa-2x"></i></li>
                                    <li><i class="fab fa-medium fa-2x"></i></li>
                                </ul>    


                            </div>
                            </div> 
                            </div>
                        </div>
                        </div>
                                          

                    
                
                
            </div>
        </div>

        </div>

        <div class="team-mates-description-container">
            <h3>Solidify Team</h3>
            <div class=team-mates-description-wrapper>
                    <div class="team-mates-description-nested">
                        <img src="../imgs/teamwork.jpg">
                        </div>
                <div class="team-mates-description-nestedtext">
                <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aut atque quam sit officiis at iure odio eaque, ab cupiditate soluta consequuntur cumque. Porro voluptas modi sint, aperiam nulla reprehenderit sequi atque. Ipsam dignissimos obcaecati tempora impedit incidunt architecto asperiores laudantium reiciendis fugit tempore similique rem nostrum fuga, earum rerum quo exercitationem ut, ipsum in? Dignissimos ipsam labore odit a soluta obcaecati corporis quia! Iste nam molestias recusandae magnam nesciunt!
                    </p></div>

                    <button class="btn-team-mates-description">Find Out More</button>



            </div>
            <div class="team-mates-description-nestedtext">

                <div><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique corporis voluptatibus vel, deserunt ex ipsa porro distinctio libero expedita labore optio quasi illo nemo beatae blanditiis illum veniam ipsum dolorem temporibus. Qui incidunt cumque libero eligendi ab assumenda, magni nam. Quas quia consequuntur officia, atque maxime alias beatae sed enim ipsum quam tempora adipisci consequatur, deserunt voluptatum placeat velit eius asperiores quisquam itaque ratione molestias perferendis animi reiciendis! Facere, impedit.

                </p></div>
                <button class="btn-team-mates-description">Find Out More</button>
            </div>


                
           
        </div>
    </div>
        
        <div class="team-values-container">
            <h3>Team Values</h3>
            <div class="team-values-wrapper">
                <div><img src="../imgs/communication.svg" class="communication"><h4>Communication</h4></div>
                <div><img src="../imgs/together.svg" class="together"><h4>Together is Better</h4></div>
                <div><img src="../imgs/hierarchy.svg"><h4>Flat Hierarchy</h4></div>
                <div><img src="../imgs/goals.svg" class="goals"><h4>Goals-Driven</h4></div>

            </div>
        </div>

        <div class="team-stories-container">
            <h3>Our Work Stories</h3>
            <div class="team-stories-wrapper">
                <div><img src="../imgs/cristina.png"></div>
                <div class="stories-social">
                    <ul>
                        <li><img src="../imgs/twitter.png" class="grow"></li>
                        <li><img src="../imgs/facebook.png" class="fb grow"></li>
                        <li><img src="../imgs/email.png" class="grow"></li>

                    </ul>
                </div>
                <div><p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid excepturi eligendi veniam aspernatur expedita, accusamus consequatur numquam mollitia animi? Dolorem, quo. Repellendus, sapiente minus? Tempora aut impedit est eum quam perspiciatis laudantium sint aliquam incidunt? Veritatis architecto a itaque illo debitis quis eius consequuntur necessitatibus, amet, ratione dicta aspernatur. Officia temporibus ducimus neque nam similique ipsa dignissimos quasi, corporis quam."</p>
                </div>
                </div>

            <div class="team-stories-wrapper">
                    <div><img src="../imgs/lucy.png"></div>
                    <div class="stories-social">
                        <ul>
                            <li><img src="../imgs/twitter.png" class="grow"></li>
                            <li><img src="../imgs/facebook.png" class="fb grow"></li>
                            <li><img src="../imgs/email.png" class="grow"></li>
    
                        </ul>
                    </div>
                    <div><p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid excepturi eligendi veniam aspernatur expedita, accusamus consequatur numquam mollitia animi? Dolorem, quo. Repellendus, sapiente minus? Tempora aut impedit est eum quam perspiciatis laudantium sint aliquam incidunt? Veritatis architecto a itaque illo debitis quis eius consequuntur necessitatibus, amet, ratione dicta aspernatur. Officia temporibus ducimus neque nam similique ipsa dignissimos quasi, corporis quam."</p>
                    </div>
                </div>
                <div class="team-stories-wrapper">
                        <div><img src="../imgs/victoria.png"></div>
                        <div class="stories-social">
                            <ul>
                                <li><img src="../imgs/twitter.png" class="grow"></li>
                                <li><img src="../imgs/facebook.png" class="fb grow"></li>
                                <li><img src="../imgs/email.png" class="grow"></li>
        
                            </ul>
                        </div>
                        <div><p>"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid excepturi eligendi veniam aspernatur expedita, accusamus consequatur numquam mollitia animi? Dolorem, quo. Repellendus, sapiente minus? Tempora aut impedit est eum quam perspiciatis laudantium sint aliquam incidunt? Veritatis architecto a itaque illo debitis quis eius consequuntur necessitatibus, amet, ratione dicta aspernatur. Officia temporibus ducimus neque nam similique ipsa dignissimos quasi, corporis quam."</p>
                        </div>
                
                    </div>
                    <h3 class="workwithus-header">Want to work with us?</h3>
                <div class="btn-team-jobs-box">
                    <button class="btn-team-jobs">Check Our Open Positions</button>
                </div>

        </div>


        <footer class="footer">
            <div class="footer-wrapper">
                <div class="logo-footer-header">
                <div class="logo-footer"><img src="../imgs/logo3.png"><h4> SOLIDIFY</h4></div>
                <p>All Rights Reserved</p>
            </div>
                <div class="social-media"><h5>FOLLOW US</h5>
                        <a href="#"><i class="fab fa-facebook-square grow fa-2x">  </i></a>
                        <a href="#"><i class="fab fa-linkedin-in grow fa-2x">  </i></a>
                        <a href="#"><i class="fab fa-twitter grow fa-2x">  </i></a>
                </div>
                <div class="back-to-portfolio-link grow"><a href="../../index.html">Back to portfolio page</a></div>
               
    
            </div>
        </footer>
               
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        
        <script src="../js/main.js">        </script>

           
           
        
        
        </body>
        </html>